/* Contenedor principal para las tablas */
.table-container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin: 30px auto;
    max-width: 1200px;
    padding: 20px;
}

/* Sección individual para cada tabla */
.table-section {
    flex: 1;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* barra de navegación */
.navbar-custom {
    background-color: #408076; 
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white; 
    font-size: 1.4rem; 
    padding: 15px 20px; 
}

.navbar-custom .nav-link:hover {
    color: #b7ebf1; 
}

.navbar {
    padding: 1rem; 
}
/*footer*/
.footer {
    background-color: #408076; 
    color: white; 
    padding: 20px 0; 
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

.footer .container {
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; 
}

.footer p {
    margin: 0; 
}

.footer-link {
    color: white; 
    text-decoration: none; 
}

